.container {
    margin: 3rem 1rem;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

@media (min-width: 1440px) {
    .container .first-p {
        width: 35%;
        margin: auto;
    }
}

